.StartBtn{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #5c219b !important;
    text-transform: uppercase;
    background: #ffffff;
    padding: 20px;
    border: 4px solid #8558b5 !important;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
}

.StartBtn:hover{
  color: #5c219b !important;
  border-radius: 50px;
  border-color: #5c219b !important;
  transition: all 0.3s ease 0s;
}