h2 {
    text-align: left;
    position: relative;
    top: 50px;
    left: 1%;
    margin: 0px;
    font-family: Oswald, sans-serif;
    font-size: 48px;
    width: 99%;
}

.container {
    position: relative;
    left: 5%;
    margin-top: 50px;
    font-family: Oswald, sans-serif;
    font-size: 36px;
    width: 95%;
}

.container input[type=text], textarea {
  width: 80%;
  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.pageLabel {
    display: inline-block;
}

.container textarea {
  font-family: Oswald, sans-serif;
}